@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  height: 6px; 
  width: 6px;
}

*::selection {
  background: #5f90e390;
}

@media (prefers-color-scheme: dark) {
  *::selection {
    background: #2c5bab90;
  }
}

/* Add a thumb */
*::-webkit-scrollbar-thumb {
  background: #1A1D1A;
  border-radius: 6px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}