@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  height: 6px; 
  width: 6px;
}

*::selection {
  background: #5f90e390;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  *::selection {
    background: #2c5bab90;
  }
}

/* Add a thumb */
*::-webkit-scrollbar-thumb {
  background: #1A1D1A;
  border-radius: 6px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}

@layer components {
	.btn-primary {
		@apply p-2 px-4 rounded-lg bg-eerie-black w-max text-white duration-100 border border-eerie-black first-letter:capitalize;
	}
	.btn-primary:hover {
		@apply hover:bg-almond dark:hover:bg-dark-almond hover:text-eerie-black dark:hover:text-white hover:rounded-md;
	}
	.btn-secondary {
		@apply md:ml-auto md:w-max p-2 px-4 rounded-lg bg-almond dark:bg-dark-almond w-full text-center duration-100 border border-almond dark:border-dark-almond first-letter:capitalize;
	}
	.btn-secondary:hover {
		@apply hover:bg-white dark:hover:bg-eerie-black hover:border-eerie-black dark:hover:border-white hover:rounded-md;
	}
	label, p, h1, h2, h3, h4, h5, h6 {
		@apply first-letter:capitalize
	}
}